.footer {
    height: 6.15rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(71 85 105);
}

div {
    display: flex;
    color: whitesmoke;
    font-weight: 500;
}

p {
    margin: 0;
}

.padding-right {
    padding-right: 1.25rem;
}

.padding-left {
    padding-left: 1.25rem;
}

.icon-style {
    font-size: 1.25rem;
}